@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quicksand:wght@600&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,300&display=swap');

body {
  font-family: 'Inter Tight', sans-serif;
}
main {
  margin: 0;
}
.btnCard:hover{
  background-color: green;            
}
